<h1>Listing self_homework_answer_files</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @self_homework_answer_files.each do |self_homework_answer_file| %>
  <tr>
    <td><%= link_to 'Show', "/homeworkfile/#{self_homework_answer_file.id}" %></td>
    <td><%= link_to 'Edit', "/homeworkfile/edit/#{self_homework_answer_file.id}" %></td>
    <td><%= link_to 'Destroy', '/homeworkfile', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New homework answer file', '/homeworkfile/new' %>
