<%= form_for(@self_homework) do |f| %>
  <% if @self_homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@self_homework.errors.count, "error") %> prohibited this self_homework from being saved:</h2>

      <ul>
      <% @self_homework.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
