<h1>Listing self_homeworks</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @self_homeworks.each do |self_homework| %>
  <tr>
    <td><%= link_to 'Show', self_homework %></td>
    <td><%= link_to 'Edit', edit_self_homework_path(self_homework) %></td>
    <td><%= link_to 'Destroy', self_homework, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Self homework', new_self_homework_path %>
