<div style="background-color: #f0ffff;">
</br><h1 style="font: 22px bold; font-family: roboto;color:#dc143c;margin-left: 50px;">Editing user</h1></br>

  <div style="background-image: url(/images/kaz_nen.png);width:180px; height:400px;float: right;margin-right: 100px;
  ">   </div>
  <div style="margin-left: 100px; color: #e9967a;"> <%= render 'form' %>  </div>
  </br>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
