<% if model_object.errors.any? %>
  <!--<div id="error_explanation">-->
  <div class="notice">
    <h2><%= pluralize(model_object.errors.count, "error") %> prohibited this course from being saved:</h2>

    <ul>
      <% model_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>