<% if model_object.errors.any? %>
  <!--<h2><%= pluralize(model_object.errors.count, "error") %> prohibited this course from being saved:</h2>-->
  <ul id="error-explanation">
    <% model_object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>