<h1>Listing question_homeworks</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_homeworks.each do |question_homework| %>
  <tr>
    <td><%= link_to 'Show', question_homework %></td>
    <td><%= link_to 'Edit', edit_question_homework_path(question_homework) %></td>
    <td><%= link_to 'Destroy', question_homework, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question homework', new_question_homework_path %>
