<div class="container">
  <h1>OHIHA Instruction</h1>
  <section id="help-download">
    <h2>Introduction</h2>
    <p class="passage">ยินดีต้อนรับสู่ <abbr title="O Handing in Assistant">OHIHA</abbr> System หรือระบบช่วยเหลือการส่งการบ้าน
      ระบบนี้จะคอยช่วยเหลือท่านและสร้างความสะดวกให้กับการส่งการบ้านที่มากขึ้น โดยภายในระบบสามารถให้ผู้ใช้ตั้งค่าต่าง ๆ
      และระบบช่วยเหลือในการส่งการบ้านที่มีเพิ่มเติมอีกภายในอนาคต</p>
  </section>
  <section id="download-instructions">
    <h2>Download the Instructions</h2>
    <p class="passage">ท่านสามารถ download วิธีการใช้งานและคำแนะนำเบื้องต้นของระบบ <abbr title="O Handing in Assistant">OHIHA</abbr> ได้ตาม URL ด้านล่างนี้</p>
    <ul>
      <li><a href="/guides/OHIHA(Help).pdf">Instruction เวอร์ชัน beta</a></li>
    </ul>
  </section>
</div>