/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@import "html5reset-1.6.1.css";
@import "/blueprint/screen.css";
@import "/fonts/font_roboto_stylesheet.css";

/* Global Definition */
body {
  width: 950px;
  margin: 0 auto !important;
  background: #f4fceb;
  font-family: "RobotoLight", "Dejavu Sans", "Tahoma", "Meiryo", sans-serif;
}

/* Header, Wrapper, Footer Gobal Definition */
#header, #wrapper, #footer {
  overflow: hidden;
  clear: both;
}

/* Header Tab */
#header {
  height: 35px;
  padding: 3px 10px;
  box-shadow: 0px 0px 10px #AAA;
  background: rgba(208, 235, 194, 0.4);
  margin-bottom: 10px;
}

/* Logo link on the top left of the screen */
#logo {
  float: left;
  display: block;
  background: url("/images/OHIHALogo.png") center top no-repeat;
  width: 250px;
  height: 35px;
  text-indent: -10000px;
  opacity: 0.7;
  transition: 0.4s ease-in opacity;
  -moz-transition: 0.4s ease-in opacity;
  -webkit-transition: 0.4s ease-in opacity;
}

/* logo link when mouse hovered */
#logo:hover {
  opacity: 1;
  transition: 0.4s ease-in opacity;
  -moz-transition: 0.4s ease-in opacity;
  -webkit-transition: 0.4s ease-in opacity;
}

#account_panel {
  float: right;
  height: 100%;
}

#gravatar {
  width: 32px;
  height: 32px;
  margin: 2px 3px;
  border-radius: 5px;
  vertical-align: middle;
}

#account_panel nav {
  display: inline-block;
  border-left: 1px solid #333;
}

#account_panel ul {
  list-style: none;
}

#account_panel li {
  display: inline;
  margin-left: 5px;
  line-height: 35px;
}

#footer {
  clear: both;
  padding: 5px 10px;
  font-size: 14px;
}

/* Notice notifications */
#notice {
  background: rgba(255, 244, 206, 0.6);
  width: 90%;
  margin: 10px auto;
  padding: 10px 15px;
  color: #513322;
  box-shadow: 0px 0px 7px rgba(246, 146, 72, 0.3);
}

#notice ul, #notice ol {
  list-style: none inside;
}

#notice li {
  font: 16px/1.5em !important;
  line-height: 1.2em;
}

#notice h2 {
  margin-top: 0px !important;
}

/* General Header */
#wrapper h1 {
  margin: 10px;
  font: small-caps 2em/1.4em bold "Roboto";
}

#wrapper h2 {
  margin: 10px;
  font: small-caps 1.5em/1.2em bold "Roboto";
}

/* a tag link */
a, a:visited {
  color: #565656 !important;
  text-decoration: none;
  -moz-transition: 0.4s ease-out color;
  -webkit-transition: 0.4s ease-out color;
  -ms-transition: 0.4s ease-out color;
  transition: 0.4s ease-out color;

}

a:hover, a:active {
  color: #222 !important;
  -moz-transition: 0.4s ease-out color;
  -webkit-transition: 0.4s ease-out color;
  -ms-transition: 0.4s ease-out color;
  transition: 0.4s ease-out color;
}

/* Navigation Menu */
#main-menu {
  background: #e4f9e5;
  margin-top: 10px;
  box-shadow: 0px 0px 5px #DDD;
  border-radius: 7px;
  overflow: hidden;
  clear: both;
}

#main-menu li {
  float: left;
  list-style: none inside;
}

#main-menu a {
  width: 190px;
  display: block;
  line-height: 40px;
  text-align: center;
  -moz-transition: 0.2s ease-out background;
  -webkit-transition: 0.2s ease-out background;
  -ms-transition: 0.2s ease-out background;
  transition: 0.2s ease-out background;
}

#main-menu a:hover {
  background: #bbf3bb;
  -moz-transition: 0.2s ease-out background;
  -webkit-transition: 0.2s ease-out background;
  -ms-transition: 0.2s ease-out background;
  transition: 0.2s ease-out background;
}

.left-corner {
  border-radius: 7px 0px 0px 7px;
}

.right-corner {
  border-radius: 0px 7px 7px 0px;
}

#table {
  margin: 0 auto;
  width: 95%;
  border-collapse: collapse;
}

#table td {
  padding: 3px;
}

#table tr:nth-child(1) * {
  background-color: #133D0D !important;
  text-align: center;
  line-height: 2em;
  color: white;
}

#table tr:nth-child(odd) {
  background-color: #e2f4cd !important;
}

#table tr:nth-child(even) {
  background-color: #e8f9e4 !important;
}

#table td {
  padding: 2px;
  line-height: 1.2em;
}

form .field {
  margin-top: 10px;
}