/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@import url("html5reset-1.6.1.css");
@import "/fonts/font_roboto_stylesheet.css";
@import url("/blueprint/screen.css");

body {
  margin: 0 auto !important;
  width: 980px;
  background: #e6f6df;
  font-family: "RobotoLight", "Dejavu Sans", "Tahoma", "Meiryo", sans-serif;
}

#header {
  height: 35px;
  padding: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #AAA;
  background: rgba(208, 235, 194, 0.4);
  margin-bottom: 10px;
}

#logo {
  float: left;
  display: block;
  background: url("/images/OHIHALogo.png") center top no-repeat;
  width: 250px;
  height: 35px;
  text-indent: -10000px;
  opacity: 0.7;
  transition: 0.4s ease-in opacity;
  -moz-transition: 0.4s ease-in opacity;
  -webkit-transition: 0.4s ease-in opacity;
}

#logo:hover {
  opacity: 1;
  transition: 0.4s ease-in opacity;
  -moz-transition: 0.4s ease-in opacity;
  -webkit-transition: 0.4s ease-in opacity;
}

#account_panel {
  float: right;
  max-width: 600px;
}

#account_panel #gravatar {
  width: 32px;
  height: 32px;
  margin: 2px 3px;
  border-radius: 5px;
  vertical-align: middle;
}

#account_panel nav {
  display: inline-block;
}

#account_panel ul {
  list-style: none;
}

#account_panel li {
  display: inline-block;
  margin-left: 10px;
  height: 100%;
}

#wrapper {
  clear: both;
}

#footer {
  clear: both;
  padding: 5px 10px;
  font: 14px "Roboto Light";
}

#notice ul {
  list-style: none outside;
}