/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@import "html5reset-1.6.1.css";
@import "/blueprint/screen.css";
@import "/fonts/font_roboto_stylesheet.css";

/* Global Definition */
body {
  width: 980px;
  margin: 0 auto !important;
  background: #f4fceb;
  font-family: "RobotoLight", "Dejavu Sans", "Tahoma", "Meiryo", sans-serif;
}

/* Header, Wrapper, Footer Gobal Definition */
#header, #wrapper, #footer {
  overflow: hidden;
  clear: both;
}

/* Header Tab */
#header {
  height: 35px;
  padding: 3px 10px;
  box-shadow: 0px 0px 10px #AAA;
  background: rgba(208, 235, 194, 0.4);
  margin-bottom: 10px;
}

/* Logo link on the top left of the screen */
#logo {
  float: left;
  display: block;
  background: url("/images/OHIHALogo.png") center top no-repeat;
  width: 250px;
  height: 35px;
  text-indent: -10000px;
  opacity: 0.7;
  transition: 0.4s ease-in opacity;
  -moz-transition: 0.4s ease-in opacity;
  -webkit-transition: 0.4s ease-in opacity;
}

/* logo link when mouse hovered */
#logo:hover {
  opacity: 1;
  transition: 0.4s ease-in opacity;
  -moz-transition: 0.4s ease-in opacity;
  -webkit-transition: 0.4s ease-in opacity;
}

#account_panel {
  float: right;
  height: 100%;
}

#gravatar {
  width: 32px;
  height: 32px;
  margin: 2px 3px;
  border-radius: 5px;
  vertical-align: middle;
}

#account_panel nav {
  display: inline-block;
}

#account_panel ul {
  list-style: none;
}

#account_panel li {
  display: inline;
  margin-left: 5px;
  height: 100%;
}

#footer {
  clear: both;
  padding: 5px 10px;
  font-size: 14px;
}

.notice ul, .notice ol {
  list-style: none inside;
}

.notice h2 {
  margin-top: 0px !important;
}