@import "application.css.scss";

#field {
  background: #EEE;
  width: 260px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 15px;
}

#field * {
  max-height: 240px;
}

#profile {
  @include content-pane;
  @include div-center;
  background: #E2F4CD;
  padding: 20px;
  width: 80%;
  overflow: hidden;

  & h2 {
    width: 400px;
    display: inline-block;
  }

  & img {
    @include general-shadow;
    width: 150px;
    height: 150px;
    border-radius: 7px;
    float: right;
  }

  & ul {
    list-style: none inside;
  }

  & li {
    margin-bottom: 10px;
  }
}